<%- include('head') %>

    <div>
        <h1>ユーザー登録</h1>

        <form action="/" method="post">
            <div>
                <p>
                    <label>name</label>
                    <input type="text" name="addName">
                </p>
                <p>
                    <label>email</label>
                    <input type="email" name="addMail">
                </p>
                <p>
                    <label>password</label>
                    <input type="password" name="addPass">
                </p>
            </div>
            
            <div>
                <input type="submit" value="登録">
            </div>
        </form>
        <a href="/">トップに戻る</a>
    </div>

</body>
</html>